<!-- ########################################################################################### -->
{{ printf "<!-- MAIN JS -->" | safeHTML }}
{{ $opts := dict "noComments" true "compact" true "minified" true }}
{{ $js := resources.Get "js/main.js" | babel $opts | resources.Minify }}

{{ if eq .Site.Params.resources.inline true }}
	<!-- inline -->
	{{ with $js }}
	<script>{{ .Content | safeJS }}</script>
	{{ end }}

{{ else }}

	{{ if eq .Site.Params.resources.fingerprint false }}
		<!-- fingerprint and hash sources -->
		<script defer src="{{ $js.Permalink | relURL }}"></script>

	{{ else }}
		{{ $mainjs := $js | resources.Fingerprint "sha512" }}
		<script defer src="{{ $mainjs.Permalink | relURL }}" integrity="{{ $mainjs.Data.Integrity }}" crossorigin="anonymous"></script>
	{{ end }}

{{ end }}
